cg-board {
    background-image: url('https://raw.githubusercontent.com/JameswDemps/chrome-extension/main/image/chess/board.svg') !important;
}

/* White Knight */
.knight.white, .piece.wn {
    background-image: url('https://raw.githubusercontent.com/JameswDemps/chrome-extension/main/image/chess/ChessLionWhite.svg') !important;
}

/* Black Knight */
.knight.black, .piece.bn {
    background-image: url('https://raw.githubusercontent.com/JameswDemps/chrome-extension/main/image/chess/ChessLionBlack.svg') !important;
}

/* White Bishop */
.bishop.white, .piece.wb {
    background-image: url('https://raw.githubusercontent.com/JameswDemps/chrome-extension/main/image/chess/ChessFireWhite.svg') !important;
}

/* Black Bishop */
.bishop.black, .piece.bb {
    background-image: url('https://raw.githubusercontent.com/JameswDemps/chrome-extension/main/image/chess/ChessFireBlack.svg') !important;
}

/* White Pawn */
.pawn.white, .piece.wp {
    background-image: url('https://raw.githubusercontent.com/JameswDemps/chrome-extension/main/image/chess/ChessMicWhite.svg') !important;
}

/* Black Pawn */
.pawn.black, .piece.bp {
    background-image: url('https://raw.githubusercontent.com/JameswDemps/chrome-extension/main/image/chess/ChessMicBlack.svg') !important;
}

/* White Rook */
.rook.white, .piece.wr {
    background-image: url('https://raw.githubusercontent.com/JameswDemps/chrome-extension/main/image/chess/ChessSpeakerWhite.svg') !important;
}

/* Black Rook */
.rook.black, .piece.br {
    background-image: url('https://raw.githubusercontent.com/JameswDemps/chrome-extension/main/image/chess/ChessSpeakerBlack.svg') !important;
}

/* White Queen */
.queen.white, .piece.wq {
    background-image: url('https://raw.githubusercontent.com/JameswDemps/chrome-extension/main/image/chess/ChessCatQueenWhite.svg') !important;
}

/* Black Queen */
.queen.black, .piece.bq {
    background-image: url('https://raw.githubusercontent.com/JameswDemps/chrome-extension/main/image/chess/ChessCatQueenBlack.svg') !important;
}

square.last-move {
    background-color: dodgerblue !important;
    opacity: 0.5;
}

.lobby__app__content {
    background: #262421 url('https://raw.githubusercontent.com/JameswDemps/chrome-extension/main/image/generic/LiChessIcon.svg') !important;
    background-size: 100% 100% !important;
}


/* Hover Square */
/* .highlight, square.last-move {
    background-color: dodgerblue !important;
    opacity: 0.5;
} */

/* Arrow */
.arrow {
    fill: yellowgreen !important;
}